extends dashboardBase

block content
  .dashboard__content
    .dashboard__header--title Create Quote
    .create__quote--section
      form.quote__form#create__quote--form
        .create__quote--header Create Quote
        textarea.create__quote--content
        .create__quote--footer
          input.submit.act(type='submit' value='Create')