extends base

block content
  .register__section
    .register__header Forgot Your Password
    form.register__form
      input.forgot__password--email.forgot__password--validator.reg(type='email' placeholder='Enter your email' required)
      input.forgot__user.act.reg(type='submit' value='Submit')
    .user__others
      a(href='/signup') Create Account
      a(href='/login') Login