extends dashboardBase

block content
  .dashboard__content
    .dashboard__header--title Update Password
    .profile__section
      .profile__header
      img.profile__header--image(src=`/img/users/${user.photo}` alt=`${user.nickname}`)
      .profile__role
        .profile__role--quote
        .profile__role--template
          //- svg
            use(xlink:href='img/icons.svg#icon-bookmark')
          //- p.span__user User
    .profile__section
      form#update__password.password__update
        label(for='Current password') Current Password
        input#currentPassword.current__password.validate__password.generic(type='password' placeholder='********' minlength='8' required)
        br
        label(for='New Password') New Password
        input#password__update.new__password.validate__password.generic(type='password' placeholder='********' minlength='8' required)
        br
        label(for='Password Confirm') Password Confirm
        input#passwordConfirm__update.confirm__password.validate__password.generic(type='password' placeholder='********' minlength='8' required)
        br
        input.save(type='submit' value='save')